{% extends 'layout/layout.html' %} {% block title %} Stanovi {% endblock %} {% block content %}
<div class="container">
  <h1 class="fw-bold">Dobrodošli</h1>
  <div>
    <form action="" method="post">
      <h2>Pretraži stanove</h2>
      {% csrf_token %} {{ form }}
      <input type="submit" value="Postavi" />
    </form>
  </div>
  <div>
    <h2>Stanovi</h2>
    <ul>
      {% if ads %} {% for ad in ads %}
      <li><a href="{% url 'detail' ad.id %}">{{ ad.title }}</a></li>
      {% endfor %} {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
